<h4 class="title">Carotte Shop</h4>

<div class="container">
    <div class="my_task_title">
      <div>
        <h4 class="current_task_title">Carotte Cards à acheter</h4>
      </div>
    </div>
    <%= render 'carousel', fun_cards: @fun_cards %>
</div>

