<div class="tab-bar">
  <div class="tab_elements">
    <%= link_to image_tag('coloc.png'), class:"icon"%>
  </div>

  <div class="tab_elements">
    <%= link_to image_tag('shop.png'), shop_index_path, class:"icon"%>
  </div>

  <div class="tab_elements">
    <%= link_to image_tag('door.png'), class:"icon"%>
  </div>
</div>
