html,body{
  height:100%;
  margin:0;
}

.background{
  width:100%;
  height:100%;
  /*background:#8cccff;*/

  max-height: 100%;
  overflow: hidden;
  z-index:900;
}

.background h1,
.background h2{
  color:#fff;
  width:100%;
  text-align:center;
  font-family:Verdana, Geneva, sans-serif;
  line-height:1;
  position:relative;
  z-index:999;
  font-weight:100;
}

.flake path{
  fill:#fff;
}

.flake-wrapper{
  position:absolute;
  z-index:999;
}

@keyframes falling{
  0%{
    top:-50px;
    opacity:1;
  }
  50%{
    opacity:1;
  }
  80%{
    opacity:0;
  }
  100%{
    top:100%;
    opacity:0;
  }
}

.flake{
  width:100%;
  height:100%;
}
