.btn-check {
  color: white;
  font-size: 50px;
  background-color: #008A61;
  padding: 13px 18px;
  border-radius: 50%;
}

.btn-carot {
  color: white;
  font-size: 50px;
  background-color: #FF665A;
  padding: 14px 24px;
  border-radius: 50%;
}

.btn_form {
  display: flex;
}

.submit_btn_show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    width: 82%;
}


// .submit_icon {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }

.icon_check {
    text-align: center;
    border: 2px solid #008A61;
    background-color: white;
    padding: 32px 16px;
    border-radius: 25px;
    height: 180px;
    width:122px;
    position: relative;

    p {
     margin-top: 22px;
     color: #008A61;
     font-size: 25px;
     font-family: 'Open Sans';
     font-weight: 600;
      margin-right: 25px;
    }
}

.icon_carot {
    text-align: center;
    border: 2px solid #FF665A;
    background-color: white;
    padding: 32px 16px;
    border-radius: 25px;
    height: 180px;
    width:122px;
    position: relative;

    p {
      margin-top: 22px;
      color: #FF665A;
      font-size: 25px;
      font-family: 'Open Sans';
      font-weight: 600;
      margin-right: 25px;
    }
}

.btn_coloc {
  text-decoration: none;
  color: #4481AD;
  margin-top: 24px;
}
