.btn-check {
  color: white;
  font-size: 50px;
  background-color: #008A61;
  padding: 13px 18px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.btn-carot {
  color: white;
  font-size: 50px;
  background-color: #E46E0E;
  padding: 14px 28px;
  border-radius: 50%;
  margin-left: 66px;
}

.btn_form {
  display: flex;
}

.submit_btn_show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    width: 70%;
}

.submit_btn_show img {
  width: 89px;
}

// .submit_icon {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
// }

.icon_check {
    text-align: center;
    border: 2px solid #008A61;
    background-color: white;
    padding: 32px 16px;
    border-radius: 25px;
    height: 180px;
    width: 121px;
    margin-right: 17px;

    p {
     margin-top: 22px;
     color: #008A61;
     font-size: 25px;
     font-family: 'Open Sans';
     font-weight: 600;

    }
}

.icon_carot {
    text-align: center;
    border: 2px solid #E46E0E;
    background-color: white;
    padding: 24px 16px;
    border-radius: 25px;
    height: 180px;

    p {
      margin-top: 15px;
      color: #E46E0E;
      font-size: 25px;
     font-family: 'Open Sans';
     font-weight: 600;
    }
}
