.carotte_a_venir{
  background-color: #ffffff;
  opacity: 1;
  background: repeating-linear-gradient( -45deg, #FECB64, #FECB64 2px, #ffffff 2px, #ffffff 10px );
  padding: 20px;
  border-radius: 20px;
  margin-top: 15px;
}

.carotte_incoming {
  background-color: white;
  border-radius: 20px;
  
}