.container-photo {
  padding: 60px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 336px);
}

.adapt_heigh {
  height: calc(100vh - 336px);
}

.camera_img {
  width: 224px;
}

.bigger_img {
  width: 272px;
}