.tasks_done {
    background-color: rgba(254, 203, 100, 0.7);
    padding: 12px;
    border-radius: 16px;
    margin-top: 8px;
    height: 185px;
  }

  .btn_home {
    color: #FA706E;
    text-decoration: none;
  }

  .btn_home:hover{
    font-weight: bolder;
  }