.modal {
    text-align: center;
  }

.modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-body {
    font-size: x-large;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .modal-title {
    font-size: x-large;
  }