.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.my_points {
  background-color: rgba(250, 112, 106,0.6);
  border-radius: 12px;
  padding: 8px;
  display: inline-block;
  margin: 0;
    color: white;
    font-family: 'Open Sans';
    font-size: 16px;
}

.my_points p {


}
