.carotte_incoming {
  width: 100%;
}

.carotte_incoming_title {
  font-weight: bold;
  color: #696969;
  margin-bottom: 32px;
  margin: auto;
  padding: 4px 8px;
  width: 100%;
  text-align: center;
}

.carotte_incoming_content {
  display: flex;
  padding: 12px 0px 24px 0px;
  position: relative;
  margin-left: 10px;
}

.carotte_incoming_image {
  width: 110px;
  height: 110px;
}

.carotte_incoming_text {
  width: 100%;
  margin-left: 16px;
}

.carotte_incoming_infos {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  p {
    margin-bottom: 0;
    color: #6d99bd;
    font-weight: 700;
    font-size: 24px;
  }
}

.carotte_incoming_date {
  margin-top: 4px;
  width: 100%;
  p {
    font-size: 20px;
    color: #6d99bd;
    font-weight: 500;
  }
}

.carotte_incoming_owner {
  display: flex;
  align-items: center;
  margin-top: 32px;
  p {
    margin-right: 1rem;
    margin-bottom: 0;
    font-weight: bold;
    color: #696969;
  }
}