.fun_card_less_points {
  text-align: center;
}

.fun_cards {
  background-color: rgba(254, 203, 100, 0.7);
  padding: 12px;
  border-radius: 16px;
  margin-top: 8px;
  height: 224px;
  width: 152px;
}

.fun_card_content {
  align-items: center;
  justify-content: space-around;
}

.fun_card_text {
  padding-top: 20px;
  width: 128px;
}

.fun_card_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fun_card_name {
  text-align: center;
  color: white;
}