.task_card {
  position: relative;
  margin-bottom: 24px;
  border-bottom: solid 0.1em rgba(0,0,0,0.1);
  border-width: 0.5px;
  padding: 0px 0px 28px 0px;
}


.task_card_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task_card_text {
  width: 195px;
}

.task_card_see_more {
    // position: absolute;
    // right: 12px;
    // bottom: 0px;
    font-size: 32px;
    color: white;
}

.my_tasks {
  padding: 12px;
  border-radius: 16px;
  margin-top: 8px;
  height: 114px;
}

.my_tasks:focus {
  text-decoration: none;
}

.task_check_align {
  display: flex;
  justify-content: space-between;
}

.logo_status {
  display: flex;
  align-items: center;
}

.other_tasks {
  border: solid 2px rgba(254, 203, 100, 0.7) ;
  border-radius: 16px;
  padding: 12px;
  margin-top: 8px;
  height: 114px;
}

.current_task_title {
  text-transform: uppercase;
  color: white;
  margin-bottom : 32px;
  background-color: #8BB1CC;
  margin: auto;
  padding: 4px 8px;
  width: 100%;

}

.task_points {
  background-color: #FA706E;
  border-radius: 12px;
  padding: 9px;
  display: inline-block;
}

.task_points p {
  margin: 0;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}

.task_name {
  color: rgb(109, 153, 189);
  font-size: 18px;
}
