.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show_task_image {
    margin-top: 10px;
}

.carotte_cost {
    display: flex;
    margin: 0 auto;
    text-align: center;
}