<div class="container">

  <div class="carott_card">
    <h4 class="carotted_title"> <strong> Bravo ! </strong><br> Vous avez carotté :</h4>
      <div class="carotted_avatar">
        <p><%= image_tag @carotted_user.first.avatar, class: 'avatar-x-large' %></p>
      </div>
     <h4 class="carotted_user_name"><%= @carotted_user.first.name %></h4>
  </div>

   <div class="overlay">

     <h4 class="overlay_carot_title">Carottes Restantes : </h4>

   </div>

</div>

